version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: neondb_owner
      POSTGRES_PASSWORD: npg_qaXfly27mDFB
      POSTGRES_DB: booking_api
    ports:
          - "8083:8081"  
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
       - "8084:8080"
    networks: 
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
